@media(min-width: 992px){
  .container{
    .dashboard-container{
      header{
        .header-section{
         .header-content{
          justify-content: space-between;
          .company-logo-container{
            margin-top: 30px;

            .logo-container{
              height: auto;
              width: 200px;
            }

            .select-container{
              width: 100px;
              height: 40px;
              border-radius: 8px;
             
              select{
                font-size: 16px;
              }
            }
           }

           .dashboard-text{

            margin-top: 40px;

            h2{
              font-size: 3.5rem;
            }
           }
          }
        }
      }
    }
  }
}