@import './_utils';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Lato',
sans-serif;
font-family: 'Nunito',
sans-serif; */
::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: $gold-color;
  border-radius: 5px;
}


html, body{
  font-family: 'Lato',sans-serif;
}

.container{
  border: 2px hidden green;
  width: 100%;

  .dashboard-container{
    border: 2px hidden red;
    width: 100%;
    display: flex;
    flex-direction: column;

    header{
      width: 100%;
      background-image: url('/assets/header-img.jpg');;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

      .header-section{
        width: 100%;
        background-color:$bg-header;
        padding-bottom: 4rem;

        .header-content{
          border: 2px hidden green;
          width: 90%;
          margin: auto;
          display: flex;
          flex-direction: column;

          .company-logo-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
           

            .logo-container{
              border: 2px hidden yellow;
              width: 150px;
              height: 80px;

              img{
                width: 100%;
                height: 100%;
                object-fit: contain
              }
            }

            .select-container{
              border: 2px solid rgba(255, 255, 255, 0.1);
              border-radius: 5px;
              width: 100px;
              height:40px;
              display: flex;
              align-items: center;
              justify-content: center;
              
              select{
                width: 90%;
                margin: auto;
                height: 90%;
                background: transparent;
                border: none;
                color: rgba(255,255,255,0.9);
                outline: none;
                

                option{
                  background-color: white !important;
                  color: black ;
                  border-radius: 5px !important;
                  
                }

              }
            }

            
          }

          .dashboard-text{
            width: 100%;
            text-align: center;
            font-family: 'Nunito',sans-serif;

            h2{
              font-size: 2rem;
              line-height: 1.5;
              font-weight: 400;
              color: white;
              text: {
                align: center;
                transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}

@import './tabletstyle.scss';
@import './deskopstyle.scss';