@media(min-width: 768px){

header {
  min-height: 20vh;

  .header-section {
    min-height: 20vh;
  }
}

.header-content {

  width: 90%;

  .company-logo-container {

    .logo-container {

      width: 300px;
      height: 200px;
    }

    .select-container {
      border: 2px solid rgba(255, 255, 255, 0.2);
      width: 150px;
      height: 60px;
      border-radius: 8px;

      select {
        font-size: 18px;
      }
    }
  }

  .dashboard-text {
    margin-top: 20px;

    h2 {
      font-size: 2.5rem;
    }
  }
}

.navbar-section {
  width: 90%;
}

.avatar-container {

  .avatar {
    width: 130px;
    height: 130px;
  }
}

.nav-links {
  font-size: 24px;

  .dropdown-menu {
    width: 90%;
  }
}

.cards-container {

  .grid-and-afg-text {
    width: 90%;
  }
}

.cards-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;

  .card{
    width: 95%;
    margin-bottom: 25px;

    .card-content{
      .card-image{
        height: 180px;

        .fontawesome-icon{
          width: 100px;
          height: 100px;

          svg{
            font-size: 65px;
          }
        }
      }
    }
  }
}

.quick-links {

  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 35px;

  .about-us{

    h3{
      font-size: 24px;
    }

    p{
      font-size: 16px;
    }
  }

  .useful-links{

    h3{
      font-size: 24px;
    }

    ul {
      li{
        a{
          font-size: 16px;
        }
      }
    }

  }

  .quick-link{

    h3{
      font-size: 24px;
    }

    ul {
      li{
        a{
          font-size: 16px;
        }
      }
    }

  }

  .contact-info{

    h3{
      font-size: 24px;
    }

    ul {
      li{
        a{
          font-size: 16px;
        }
      }
    }

  }
}

.socials {
  width: 100%;
  margin-top: 20px;

  ul {

    li {
      margin: 10px 15px;
      width: 70px;
      height: 70px;

      a {
        svg {
          font-size: 20px;
        }
      }
    }
  }
}

.copyright{
  font-size: 18px;
}

}